.system {
  background-color: blue;
  border: cornsilk 5px solid;
  border-radius: 5px;
}

body {
  background-color: black;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav li {
  display: inline;
  padding: 25px;
}

#nav_header {
  font-size: larger;
  margin-bottom: 20px;
}

#nav_footer {
  font-size: small;
}

#FF4_logo {
  text-align: center;
}

#rating {
  max-width: 10%;
}

section p {
  text-align: center;
  font-size: larger;
}

footer li {
  text-align: center;
  display: inline;
}